{% extends 'base.html' %}

{% block content %}

    {#    {% if user.username %}#}
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit"/>
    </form>
    <p> List of our offices in company {{ user.company }}</p>
    {#        {% for obj in obj %}#}
    <a href="{% url 'worker_office' %}">Your office</a>
    {#        {% endfor %}#}
    {% for obj in object_list %}

        <p style="font-size: 30px">Title {{ obj.office_name }} located in {{ obj.country }} at {{ obj.city }}
            <a href="{% url 'office_detail' obj.id %}">Detail view</a>
            {% if user.is_superuser %}
                <a href="{% url 'office_update' obj.id %}">Change info</a>
                <a href="{% url 'office_delete' obj.id %}">Delete the office</a>
            {% endif %}
        </p>
    {% endfor %}
    {#    {% endif %}#}
{% endblock %}