{% extends 'base.html' %}
{% block content %}
    <form>
        {% if user.is_superuser %}
            <a href="{% url 'add_worker'  office.id %}">Add worker to office</a>
        {% endif %}
        {% csrf_token %}
        {#    {{ office. }}#}
        {% for obj in object_list %}
            <p>Title: {{ obj.office_name }}</p>
            <p>Address: {{ obj.address }}</p>
            <p>Country: {{ office.country }}</p>
            <p>City: {{ obj.city }}</p>
            <p>Region: {{ obj.region }}</p>
            <p>Worker: {{ obj.worker }}</p>
        {% endfor %}
    </form>
{% endblock %}