{% extends 'base.html' %}

{% block content %}
    <h2>Service Company</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'company_detail' user.company.id %}">{{ user.company.company_name }}</a>
        <a href="{% url 'worker_detail' request.user.id %}">Profile</a>
        <a href="{% url 'yourself_vehicle_list'  %}">Your Vehicles</a>
        <button><a href="{% url 'office_list' %}">office_list</a></button>
        <h3>Hello {{ user.email }} </h3>
    {% endif %}
    {% if user.is_superuser %}
        <button><a href="{% url 'worker_create' %}">Add worker to company</a></button>
        <button><a href="{% url 'worker_list' %}">Worker List</a></button>
        <button><a href="{% url 'office_create' %}">Create a office</a></button>
        <button><a href="{% url 'vehicle_create' %}">Create a vehicle</a></button>
        <button><a href="{% url 'vehicle_list' %}">Vehicle list</a></button>
    {% endif %}
    {% if user.is_authenticated %}
        <button><a href="{% url 'logout' %}">Logout</a></button>
    {% endif %}
    {% if not user.is_authenticated %}
        <button><a href="{% url 'register_company' %}">Create a company</a></button>
        <button><a href="{% url 'login' %}">login</a></button>
    {% endif %}

{% endblock %}